:root {
    --fuentePrincipal: 'Staatliches', cursive;
    --primario: rgb(255, 255, 255);
    --primarioOscuro: rgba(107, 109, 109, 1);
    --secundario: #ffce00;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    line-height: 2;
    font-size: 2rem;
    background-image: url(../img/19744.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
}

h2 {
    text-align: center;
    font-size: 4rem;
    font-family: var(--fuentePrincipal);
}
img {
    max-width: 100%;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

.contenedor {
   max-width: 100rem;
   max-height: 80rem;
   width: 95%;
   margin: 2rem auto;
}


.header h1 {
    text-align: center;
    font-size: 5rem;
}

.barra {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
}

.barra nav {
    display: grid;
    justify-content: center;
}

.barra .nav a {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.cabecera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    background-color: var(--primarioOscuro);
    padding: 3rem;
    max-height: fit-content;
}

.cabecera img {
    width: 40rem;
    margin: auto;
    object-fit: cover;
    object-position: center center;
}

.descripcion {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    color: var(--primario);
    margin: 1rem;
}

.descripcion p {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.descripcion span {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.descripcion form {
    text-align: center;
}

.boton {
    height: 10rem;
    width: 40rem;
    margin: auto;
    text-decoration:none;
    font-weight: 600;
    font-size: 30px;
    color: white;
    background-color: var(--primarioOscuro);
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4rem;
    transition: background-color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.boton:hover {
    cursor: pointer;
    background-color: #48d1cc;
    color: black;
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

@media (min-width:768px) {
    .lista-productos {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
}

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    transition: background-color 0.3s;
}

.producto:hover {
    background-color: #48d1cc;
}

.producto a {
    display: grid;
}

.producto a img {
    margin: auto;
    max-width: 70%;
}

.contenido-producto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.contenido-producto .titulo {
    font-size: 4rem;
}

.contenido-producto .precio {
    font-size: 2.8rem;
    color: black;
    text-decoration: none;
}
